.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  &__error {
    color: red;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  &__link {
    a {
      color: #23bebe;
    }
  }
  &__form {
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    &__divider{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    &__other{
      width: 100%;
      &__button {
        background-color: #000;
        color: #fff;
        width: 100%;
        padding: 15px;
        border: none;
        display: flex;
        justify-content: center; 
        align-items: center;
        gap: 5px;
        i {
          font-size: 24px;
        }
    }
    }
    &__item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px 0;
      &__input {
        padding: 10px;
        background-color: #eee;
        margin-top: 5px;
        border: none;
        outline: none;
      }
    }
    &__button {
      margin-top: 20px;
      background-color: #000;
      color: #fff;
      width: 100%;
      padding: 15px;
      border: none;
    }
  }
}
