.button {
    padding: 15px 30px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    }

.primary {
    background-color: #000;
    color: #fff;
}